---
import { BaseLayout } from "@/layouts";

import { containerStyles } from "@/shared/ui/container";

import styles from "./_styles.module.css";

const title = "";
---

<BaseLayout title={title} class={styles.root}>
  <main class={containerStyles}>Hello!</main>
</BaseLayout>
